{% extends 'GeekhubShopBundle::layout.html.twig' %}

{% block body %}

    <div class="row">
            <div class="col-lg-4">
                <h2>{{ products.name }}</h2>
                <p class="text-danger">{{ products.description }}</p>
                <p>Цена:{{ products.price }}</p>
                <p>Производитель:{{ products.manufactured.title }}</p>
                <p>Категория товара:{{ products.category.title }}</p>
                <p><a class="btn btn-primary" href="{{ path('geekhub_shop_productpage') }}" role="button">View All Products &raquo;</a></p>
            </div>
    </div>

    {% include ('GeekhubShopBundle::footer.html.twig') %}
{% endblock %}